body {
  background: url("../DesignAssets/gamebackground.svg") ;
}
.game-area {
  background-color: #1e1e1e;
  position: relative;
  width: 600px;
  height: 500px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #abbfc0;
}

@media only screen and (max-width: 800px) {
  .game-area {
    position: relative;
    width: 350px;
    height: 300px;
  }

  .ship {
    width: 20px;
    height: 20px;
  }
}

.ship {
  position: absolute;
  width: 2%;
  height: 2%;
   /* width: 3%; */
  background-color: #dc042c;
  border: 1px solid #dc042c;
  z-index: 2;
}

.star {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: rgb(222, 255, 74);
  border-radius: 20px;
  z-index: 1;
}
.score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 1rem;
}
.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 1rem;
}
.wrapper {
  position: relative;
  width: 200px;
  height: 250px;
  border: 2px solid #dc042c;
  /* border-radius: 10px; */
  margin: 50px auto;
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* box-shadow: 0 0 10px #abbfc0; */
}

.start {
  margin: 100px;
  background: #1e1e1e;
  color: white;
  border-radius: 7px;
  border: 0px;
  padding: 10px;
  font-size: 1.2em;
  box-shadow: 0 0 70px #abbfc0;
  font-family: "Courier New", Courier, monospace;
}
.game1-over {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: white;
  padding: 20px;
  border-radius: 5px;
}
 

.game1-over h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ff0000;
}

.game1-over p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ff0000;
}

.game1-over button {
  padding: 1rem 1rem;
  font-size: 1.25rem;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.game1-over button:hover {
  background-color: #27ae60;
}

.title-text{
  font-family: 'Bungee', sans-serif;
  color:#FFC700;
  text-align: center;
  font-size: 2em;
  padding: 2em;
  }